.addPaymentButton{
  margin-left: 43%;
  margin-bottom: 25px;
}
.paymentTitle{
  margin-left: 32%;
  margin-bottom: 25px;
}

.paymentButtonFlex{
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  margin-top: -7%;
}
.paymentButton{
  margin: 1.3%;

}
