.collegeButton{
    margin-left: 43%;
    margin-bottom: 25px;
  }
.collegeTitle{
    margin-left: 38%;
    margin-bottom: 25px;
  }
.collegeTitleSub{
    margin-left: 43%;
    margin-bottom: 1%;
    margin-top: 1%;
  }

.parentButton{
    display: flex;
    justify-content: space-around;
}

.editDeleteButton{
    display: flex;
    justify-content: space-between;
    margin: 1%;

}
.collegeContent{
    display: flex;
    justify-content: space-around;
    margin: auto ;
    margin-top: 2%;
}
.collegeCard{
    margin-bottom: 3% ;
}
.addTitleForm {
  margin-left: 38%;
}