body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Chart {
  height: 300px;
}
.formCenter{
  display: inline-block;
  margin: 10%;
  text-align: left;
  margin-top: 5%;
  padding: 5%;

}
.buttonForm{
  margin-left: 26%;
  margin-bottom: 20px;
}

.yearForm{
  margin-left: 20%;
}


.formTitle{
  margin-top: 5%;
}
.formYearTitle{
  margin-left: 25%;
}