.navColor{
    background-color:#999999;
    justify-content: space-between;
}

a{
    color: whitesmoke;
    padding:0px, 0px ;
}
.navButton{
    margin: -19%;
    margin-top: 15%;
    margin-bottom: 5%;

}
.collegeListbtn {
    margin-top: 0.9%;
    margin-right: 85%;
}

.logo {
    padding:0px, 0px ;
}